:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
  font-size: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

/*------------------HEADER------------------*/
.header {
}
.header-navigation {
}

.header-logo .spn {
  color: var(--dark);
}

.header-menu-list {
}
.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/*------------------ADDRESS------------------*/
.address {
  font-style: normal;
}
.address-list {
}
.address-item {
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*------------------HERO------------------*/
.hero {
  background-color: var(--dark);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/*------------------FEATURES------------------*/
.features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*------------------PRODUCTS------------------*/
.products {
}
.products-title {
}

.products-list {
}
.products-item {
}

/*------------------TEAM------------------*/
.team {
  background-color: var(--light);
}

.team-title {
}
.team-list {
}
.team-item {
  background-color: var(--white-background);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*------------------FOOTER------------------*/
.footer {
  background-color: var(--dark);
}

.footer-logo .spn {
  color: var(--light);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

/*********------------PORTFOLIO-PAGE-----------*********/

/*--------------FILTER--------------*/
.portfolio-title {
}
.filter-list {
}

.filter-item {
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

/*--------------PORTFOLIO--------------*/
.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-link {
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
